
<div class="title" role="banner">
  <img src="assets/Instagram-1.jpg" alt="image">
  <mat-card>
    <h4>Use drop down menu to select the type of game</h4>
    <mat-form-field>
      <mat-label>Game Modes</mat-label>
      <mat-select [(ngModel)]="selectedGame" name="gameType" (ngModelChange)="selectGameMode(selectedGame)">
        <mat-option
        *ngFor="let name of gameModes"
        [value]="name">{{name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="shuffleCards(data)">Shuffle bingo card</button>
  </mat-card>
  <mat-card>
    <h4>The allowed winning formations are the following:</h4>
    <h4 *ngIf="selectedGame">{{selectedGame}}</h4>
    <div class="mini_board_container">
    <mat-card class="mini_board" *ngFor="let type of selectedGameGrid" [ngClass]="type.name == selectedGame ? 'highlight' : ''">
      <mat-grid-list cols="5" rowHeight="1:1">
        <mat-grid-tile
          class="mini_board_smol_box"
           *ngFor="let x of type.positions"
           [ngClass]="x !== undefined ? 'marked':''"></mat-grid-tile>
      </mat-grid-list>
  </mat-card>
</div>
  </mat-card>
</div>

<div class="content" role="main">
  <mat-card class="card_container">
    <mat-grid-list cols="5" rowHeight="2:1">
      <mat-grid-tile class="pride_title" *ngFor="let y of prideTitle">
        <p>{{y}}</p></mat-grid-tile>
      <mat-grid-tile
        *ngFor="let x of data; index as i"
        class="card_container_card"
        (click) = "checkBox(i)"
        [ngClass]="isBoxChecked[i] ? 'checked': ''"
         >{{x}}</mat-grid-tile>
    </mat-grid-list>
</mat-card>
</div>



