
<div class="title" role="banner">
  <!-- <h1>Dialexa Pride Month</h1> -->
  <img src="assets/pride_banner.jpg" alt="image">
</div>

<div class="content" role="main">
  <mat-card class="card_container">
    <mat-grid-list cols="5" rowHeight="2:1">
      <mat-grid-tile class="pride_title" *ngFor="let y of prideTitle">
        <p>{{y}}</p></mat-grid-tile>
      <mat-grid-tile
        *ngFor="let x of data; index as i"
        class="card_container_card"
        (click) = "checkBox(i)"
        [ngClass]="isBoxChecked[i] ? 'checked': ''"
         >{{x}}</mat-grid-tile>
    </mat-grid-list>
</mat-card>
</div>



