<h2 mat-dialog-title align="center">YOU WON!</h2>
<mat-dialog-content class="mat-typography">
  <h3>
    Press "Exit to Take Screen Shot" to screenshot winning card and send to chat
    to be checked!
  </h3>
  <h3 align="center">Press "Reset Board" to clear board and play again!</h3>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <mat-button mat-button mat-dialog-close>Exit to Take Screen Shot</mat-button>
  <mat-button mat-button [mat-dialog-close]="true">Reset Board</mat-button>
</mat-dialog-actions>
